################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FlashCard.Api/bin/Debug/netcoreapp3.0
/FlashCard.Api/obj/Debug/netcoreapp3.0
/.vs/Flashcards
/Quiz.Core/bin/Debug/netcoreapp3.1
/Quiz.Core/obj
/Quiz.Core.Tests/bin/Debug/netcoreapp3.1
/Quiz.Core.Tests/obj/Debug/netcoreapp3.1
/Quiz.Core.Tests/obj
