<h3>Edit Card</h3>


<!-- template driven -->

<form #frm="ngForm">
    <div class="form-group">
        <Label for="question">Question</Label>
        <input class="form-control" [(ngModel)]="card.question" type="text" name="question" id="question">
    </div>
    <div class="form-group">
        <Label for="answer">Answer</Label>
        <textarea class="form-control" [(ngModel)]="card.answer" name="answer" id="answer"></textarea>
    </div>

    <!-- not showing the initial value of the topic when editing a card -->
    <div class="form-group">
        <Label for="topic">Topic</Label>

        <select class="custom-select" [(ngModel)]="card.topic" required id="topic" name="topic">
      <option *ngFor="let topic of topics" [value]="topic.id">{{topic.name}}</option>
    </select>
    </div>


    <button [disabled]="!frm.valid" class="btn btn-success" (click)="save()">Save</button>
    <button [disabled]='!frm.dirty' class="btn btn-danger" (click)="cancel()">Cancel</button>
</form>

Valid {{frm.valid}}
<br> Dirty {{frm.dirty}}
