<div class="card m-3">
    <div class="card-body">
        <h5 class="card-title text-muted">{{ Question.text}}</h5>
        <p class="card-subtitle text-muted">Choose: [ {{ Question.NumberOfCorrectAnswers}} ]</p>

    </div>
    <img src="holder.js/100x180/" alt="">
    <div class="card-body">
        <!-- <p class="card-text">Text</p> -->
        <!-- <h5>Answers</h5> -->

        <app-answer-item *ngFor="let answer of Question.answers" [Answer]=answer></app-answer-item>

        <button class="m-1 btn btn-outline-danger float-right" (click)="deleteQuestion($event)">
      <i class="fa fa-trash"></i></button>
        <button class="m-1 btn btn-outline-info float-right" (click)="editQuestion($event)">
      <i class="fa fa-pencil"></i></button>

    </div>
</div>