<nav class="navbar navbar-expand navbar-light bg-warning">
    <div class="container">
        <a href="" class="navbar-brand">
            <i class="mr-2 fas fa-user"></i> FlashCards
        </a>
        <ul class="navbar-nav">
            <li class="navbar-item">
                <a routerLink="/ErrorHandling" class="nav-link">Errors</a>
            </li>
            <li class="navbar-item">
                <a routerLink="/Cards" class="nav-link">Cards</a>
            </li>
            <li class="navbar-item">
                <a routerLink="/Topics" class="nav-link">Topics</a>
            </li>


        </ul>

    </div>


</nav>