<nav class="navbar navbar-expand navbar-light bg-warning">
    <div class="container">
        <a href="" class="navbar-brand">
            <i class="mr-2 fas fa-user"></i> FlashCards
        </a>
        <!-- TODO: Why are the menu items aligned right? -->
        <ul class="navbar-nav">
            <li class="navbar-item">
                <a routerLink="/ErrorHandling" class="nav-link">Errors</a>
            </li>
            <li class="navbar-item">
                <a routerLink="/Cards" class="nav-link">Cards</a>
            </li>
            <li class="navbar-item">
                <a routerLink="/Topics" class="nav-link">Topics</a>
            </li>
            <li class="navbar-item" *ngIf="!authService.isLoggedIn">
                <a routerLink="/signin" class="nav-link">Sign In</a>
            </li>
            <li class="navbar-item" *ngIf="authService.isLoggedIn">
                <button class="nav-link" (click)="authService.signOut()">Sign Out</button>
            </li>
        </ul>

    </div>


</nav>