<!-- TODO: how to put multiple equally sized on same row  -->
<div class="card">
    <div class="card-header">
        {{card.question}}
        <button class="m-1 btn btn-outline-dark float-right" (click)="toggleAnswer()">{{isAnswerShown ? 'Hide' : 'Show'}}</button>
        <button class="m-1 btn btn-outline-danger float-right" (click)="deleteCard($event)">Delete</button>
        <button class="m-1 btn btn-outline-info float-right" (click)="editCard($event)">Edit (Template)</button>
        <button class="m-1 btn btn-outline-info float-right" (click)="editCardReactive($event)">Edit (Reactive)</button>
    </div>

    <div *ngIf="isAnswerShown" class="card-body">
        <div class="card-text">{{card.answer}}</div>
    </div>
</div>