<h3>Reactive Edit Form</h3>
<form [formGroup]='editForm'>

    <div class="form-check">
        <!-- although this won't be persisted, mapping still needed since we need to listen to change events in the .ts module right ?  -->
        <input type="checkbox" class="form-check-input" id="norules" formControlName="norules">
        <label class="form-check-label" for="norules">disable blocked word rules</label>
    </div>

    <div class="form-group">
        <Label for="question">Question</Label>
        <input class="form-control" formControlName="question">
    </div>
    <div class="form-group">
        <Label for="answer">Answer</Label>
        <textarea class="form-control" formControlName="answer"></textarea>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" formControlName="isFavorite" id="isFavorite">
        <label class="form-check-label" for="isFavorite">Is Favorite</label>
    </div>
    <div class="form-group">
        <Label for="topic">Topic</Label>
        <select class="custom-select" formControlName="topic">
      <option *ngFor="let topic of topics" [ngValue]="topic">{{topic.name}}</option>
    </select>
    </div>


    <!-- TODO: is this the right way disable / enable buttons in reactive form -->
    <button [disabled]="!editForm.valid" class="btn btn-success" (click)="save()">Save</button>
    <button class="btn btn-danger" (click)="cancel()">Cancel</button>
</form>